{
  "name": "",
  "description": "",
  "version": "0.0.0",
  "projectType": "application",
  "root": "",
  "sourceRoot": "src",
  "prefix": "app",
  "scripts": {
    "serve": "php -S localhost:8000",
    "test": "./vendor/bin/phpunit --testdox"
  }
}
